
  .nav-link:hover {
    color: #000000;
    background: #f8f9fa;
  } 
  #airbnb{
    color:#f800ad
  }
  .nav-item{
    padding-top: 30px;
  }
 #TEXT{
    padding-left: 10px;
    font-size: 15px;
 }
  
  