<br><br>
    <div class="container d-flex">
        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Your Properties</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Reservations</a>
                </li>
              </ul>
        </div>
        <button type="button" class="btn btn-outline-danger btn-lg" style="margin-left: 300px;">Continue Advertisment</button>
    </div>